@import url('https://fonts.googleapis.com/css?family=Corben:700');

@keyframes animate {
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}

/* ball effect https://codepen.io/matchboxhero/pen/JrLJeb?editors=1100 */


.hero {
	background-image: radial-gradient(50% 176%, #4678c4 80%, #065e87 100%);
	min-height: 30rem;
	position: relative;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-content: center;
	
	&__content {
		position: relative;
		align-self: center;
		padding: 3rem 0;
	}
}

.snow {
	position: absolute;
	min-width: 100vw;
	min-height: 100vh;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
}

.snow .svg {
	position: absolute;
	width: 100%;
	height: 100%;
}

#snow-top-layer {
	will-change: transform;
	transform: translateY(-768px);
	animation: fall 22.5s infinite linear;
}

#snow-bottom-layer {
	will-change: transform;
	transform: translateY(-768px);
	animation: fall 45s infinite linear;
}

@keyframes fall {
	
	100% {
		transform: translateY(0);
	}
	
}

/* .btn-purple-moon {
    background: #4e54c8;
    background: -webkit-linear-gradient(to right, #8f94fb, #4e54c8);
    background: linear-gradient(to right, #8f94fb, #4e54c8);
    color: #ffffff;
    border: 3px solid #ffffff;
    position: relative;
    overflow: hidden;
    transition: background 0.3s ease;
}

.btn-purple-moon:hover {
    background: #6a11cb;
} */

.popup {
	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: white;
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	z-index: 1000;
  }
  
  .popup p {
	margin: 0; /* Remove default margin */
  }
  
  .popup .close {
	position: absolute;
	top: 10px;
	right: 10px;
	font-size: 20px;
	cursor: pointer;
  }
  
/* Add this style to your existing styles.css or within the <style> tag in the head of your HTML */
.container .c {
	position: relative;
	padding: auto;
	border-radius: 50%;
	shape-outside: circle();
	margin: auto;
	width: 200px; /* Set a fixed width for symmetry */
	height: 200px; /* Set a fixed height for symmetry */
	background-color: #007bff; /* Add your preferred background color */
	color: white; /* Add your preferred text color */
	display: inline-block; /* Ensure the circle takes only the necessary space */
	text-align: center; /* Center the text horizontally */
	line-height: 200px; /* Center the text vertically */
  }
  
/* .modal-content {
    background-color: #8091f1;
} */